{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": [],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "consistent-return": 0,
    "function-paren-newline": ["error", "never"],
    "func-names": [
      "error",
      "never"
    ],
    "no-param-reassign": [
      "error", { "props": false }
    ],
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0
  }
}


{
  "extends": "airbnb-base/legacy",
  "env": {
    "browser": true
  },
  "globals": {
    "_": true,
    "angular": true,
    "moment": true,
    "ng": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-param-reassign": [
      "error", { "props": false }
    ],
    "func-names": [
      "error",
      "never"
    ],
    "max-len": "off"
  }
}
